.stellarnav {
  background: $stColor !important;
}
.stellarnav.mobile.dark ul {
  background: $stColor !important;
}
.stellarnav.dark,
.stellarnav.dark ul ul {
  background: $stColor;
}

@media only screen and (max-width: 1000px) {
  .stellarnav > ul > li > a {
    padding: 20px 23px;
    z-index: 999999 !important;
    position: relative;
  }
}
