{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="news_content py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12 py-3">
                            <img
                                    class="news_img"
                                    src="{% static 'teamabouts.jpg' %}"
                            />
                        </div>
                        <div class="col-12">
                            <span class="date text-muted mb-1">03.07.2021</span>
                            <h5 class="news_title">
                                O'zaro bog'langan xodimlar bilan maqsadlar yoki maqsadlarga erishish uchun guruhlarni tuzing
                            </h5>
                            <p>
                                Odamlar ekanmiz, biz butun hayotimizni jamoalar haqida suhbatlashamiz. Biz to'rt yoki besh yoshda futbol o'ynashni va beysbolni o'ynagan jamoalarimizdan boshlaymiz va bizning jamoa assotsiatsiyasi hech qachon tugamaydi. Maktablar sport jamoalari, matematik jamoalar va munozara guruhlari mavjud. Biz kollej va kasb-hunar sporti jamoalarini o'zimizni bag'ishlab olamiz.
Agar siz ish joyiga o'tsangiz, siz ham jamoada ishlaysiz. Asosan, jamoaning ta'rifi - har qanday guruh, bir maqsadga yoki maqsadga erishish uchun birgalikda va birgalikda ishlash uchun tashkil etilgan.

Ishda ko'plab turli guruhlarda ishtirok etishingiz mumkin va ehtimol siz allaqachon qilyapsiz. Ammo, sizning asosiy guruhingiz, odatda, siz mahsulot guruhi yoki xizmatni ishlab chiqarish uchun tashkil qilingan guruh bo'limi bo'lasiz. Sizning yakuniy mahsulotingiz to'g'ridan-to'g'ri mijozning tashqi mijozlariga yoki siz xaridorlarga bevosita xizmat ko'rsatadigan mahsulotni ishlab chiqarishda qo'llab-quvvatlagan ichki iste'molchilarga xizmat qiladi.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 py-3">
                    <h5 class="text-dark mb-3">{% trans 'Boshqa yangiliklar' %}</h5>
                    {% for datum in data %}
                        <div class="row mb-3">
                            <div class="col-4">
                                <img
                                        class="news_thumbs"
                                        src="{{ datum.image.url }}"
                                />
                            </div>
                            <div class="col-8">
                                <a class="text-dark" href="{% url 'aboutsingel' datum.id %}"
                                >{{ datum.title }}</a
                                >
                            </div>
                        </div>
                    {% endfor %}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div
                        class="f_widget social-widget pl_70 wow fadeInLeft"
                        data-wow-delay="0.8s"
                        style="
                visibility: visible;
                animation-delay: 0.8s;
                animation-name: fadeInLeft;
              "
                >
                    <div class="f_social_icon">
                        <a href="#" class="fab fa-facebook mr-1"></a>
                        <a href="#" class="fab fa-twitter mr-1"></a>
                        <a href="#" class="fab fa-telegram mr-1"></a>
                        <a href="#" class="fab fa-youtube"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
